@import 'icons';
@import 'images';
.projects-view {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    .project {
        text-align: center;
        margin: 0 auto;
        width: 400px;
        height: 400px;
        background-color: rgba(0, 99, 192, 0.698);
        @media #{$break2},
        #{$break1} {
            width: 250px;
            height: 250px;
        }
    }
    @media #{$break2},
    #{$break1} {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
}