.tech {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-column-gap: 6px;
    grid-row-gap: 6px;
    padding: 30px;
    @media #{$break2},
    #{$break1} {
        grid-template-columns: repeat(2, 1fr);
        overflow: auto;
    }
}

.icon {
    margin: 0 auto;
    width: 120px;
    height: 120px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.vue {
    background-image: url('~@/styles/local/assets/icons/icons8-vue-js.svg');
}

.react {
    background-image: url('~@/styles/local/assets/icons/icons8-react.svg');
}

.node {
    background-image: url('~@/styles/local/assets/icons/icons8-nodejs.svg');
}

.mongodb {
    background-image: url('~@/styles/local/assets/icons/icons8-mongodb.svg');
}

.js {
    background-image: url('~@/styles/local/assets/icons/icons8-javascript.svg');
}

.redux {
    background-image: url('~@/styles/local/assets/icons/icons8-redux.svg');
}

.css3 {
    background-image: url('~@/styles/local/assets/icons/icons8-css3.svg');
}

.html5 {
    background-image: url('~@/styles/local/assets/icons/icons8-html-5.svg');
}

.mssql {
    background-image: url('~@/styles/local/assets/icons/icons8-microsoft-sql-server.svg');
}

.sass {
    background-image: url('~@/styles/local/assets/icons/icons8-sass.svg');
}

.git {
    background-image: url('~@/styles/local/assets/icons/icons8-git.svg');
}

.adobexd {
    background-image: url('~@/styles/local/assets/icons/icons8-adobe-xd.svg');
}