@import 'animations';
@import 'images';
.home {
    .text-container {
        top: 35%;
        text-align: center;
        font-size: 1.2em;
        font-weight: 200;
        letter-spacing: 3px;
    }
    @media(max-width:568px) {
        .img1,
        .img2,
        .img3 {
            background-attachment: scroll;
        }
    }
}

.free-text {
    @media #{$break2},
    #{$break1} {
        font-size: 0.7em;
    }
}

.smaller {
    height: auto;
}

//=======================================================
.img2 {
    position: relative;
    overflow: hidden;
    .text-container {
        position: absolute;
        left: 0;
        width: 100%;
        padding: 20px 10px;
        background: inherit;
        background-attachment: fixed;
        overflow: hidden;
    }
}

.img2 {
    .text-container {
        .free-text {
            color: white;
            position: relative;
            // z-index: 1;
        }
    }
}

.img2 {
    .text-container::before {
        content: "";
        position: absolute;
        top: -20px;
        left: 0;
        width: 200%;
        height: 200%;
        background: inherit;
        background-attachment: fixed;
        filter: blur(4px);
    }
}

.img2 {
    .text-container::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.25)
    }
}